#{extends 'main.html' /}
#{set title:'Test' /}

<script type="text/javascript" src="@{'/public/javascripts/jquery.stopwatch.js'}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var lastNumbers = [];
		
		var tickURL = #{jsAction @tick() /};
		var cancelURL = #{jsAction @cancel() /};
		var resultsURL = #{jsAction @results() /};
		
		var postForm = function() {
			$.post(tickURL(), $('#tickerForm').serialize(), function(data) {
				$('#results').load(resultsURL());
			});
		};
		
		var cancelLastTime = function() {
			$.post(cancelURL(), function(data) {
				$('#results').load(resultsURL());
			});
		};
		
		$('#start').click(function() {
			$('#timeInput').stopwatch().stopwatch('start');
			$(this).blur();
			$(this).attr('disabled', 'disabled');
		});
		
		$(window).keydown(function(event) {
			if (event.keyCode == 32) {
				if ($('#number').is(':visible')) {
					$('#number').toggle();
				}
				postForm();
				return false;
			}
			if (event.keyCode == 8 && !$('#number').is(':visible')) {
				cancelLastTime();
				return false;
			}
			if (!$('#number').is(':visible')) {
				$('#number').toggle();
			}
			$('#number').focus();
// 			if (event.keyCode == 190) {
//			
// 			}
			return true;
		});
		
		$('#tickerForm').submit(function() {
			postForm();
			return false;
		});
	});
</script>

<p>Press the Start button to start the chronometer.</p>
<p>Press space to tick each time.</p>
<p>After having pressed space, you can type on or more number of runners splitted by a dot.</p>

<input id="start" value="Start the race" type="button" />

#{form @Application.tick(), id: 'tickerForm'}
	<p>
		<input id="timeInput" name="time" type="text" readonly="readonly" value="00:00:00" />
		<input id="number" name="number" type="text" style="display: none" />
	</p>
#{/form}

<div id="results">
	#{render 'Application/results.html' /}
</div>